/*Theme the Tabulator element*/
#example-table{
    background-color:#4287f5;
    border: 1px solid #333;
    border-radius: 10px;
}

/*Theme the header*/
#example-table.tabulator-header.tabulator-col {
    background-color:#4287f5;
    color:#4287f5;
    white-space: normal;
}

/*Allow column header names to wrap lines*/
#example-table.tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color the table rows*/
#example-table.tabulator-tableHolder .tabulator-table .tabulator-row{
    color:#4287f5;
    background-color: #666;
}

/*Color even rows*/
    #example-table.tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: #444;
}